/* Hero */

.wrapperHero {
    position: relative;
}

.wrapperBackground .patternLeft {
    position: absolute;
    z-index: 1;
    top: 150px;
    left: -50px;
}

.wrapperBackground .patternMid {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, 0);
    left: 50%;
}

.wrapperHeroDescription {
    display: flex;
    gap: 40px;
}

.wrapperHeroDescription .HeroProfile {
    z-index: 2;
}

.wrapperHeroDescription .HeroProfile img {
    margin-top: 75px;
}

.wrapperHeroDescription .HeroSkill {
    margin-top: 84px;
    z-index: 2;
}

.wrapperHeroDescription .HeroSkill .HeroSkillImg {
    margin-bottom: 92px;
    max-width: 180px;
    position: relative;
}

.wrapperHeroDescription .HeroSkill .HeroSkillImg p {
    display: none;
    position: absolute;
    left: 50%;
    padding: 4px 12px;
    background-color: #FFFFFF;
    color: #2C3136;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    transition: opacity .6s;
    filter: drop-shadow(0px 12px 40px rgba(74, 81, 89, 0.11));
    transform: translate(-50%, 0);
    margin: 44px 0;
    white-space: nowrap;
}

.wrapperHeroDescription .HeroSkill .HeroSkillImg p::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFFFFF transparent;
    filter: drop-shadow(0px 12px 40px rgba(74, 81, 89, 0.11));
}

.wrapperHeroDescription .HeroSkill .HeroSkillImg:hover p {
    display: block;
}

.wrapperHeroDescription .HeroSkill .HeroSkillImg img {
    width: 180px;
    height: 136px;
}

.wrapperHeroDescription .HeroSkill .HeroSkillImg img:hover {
    transform: scale(1.5);
}

.wrapperHeroDescription .HeroSkill .HeroSkillImg:nth-child(2) {
    margin-left: 234px;
}

.HeroDescription {
    margin-top: 200px;
    max-width: 380px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.HeroDescription h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.2px;
    margin: 0;
    color: #4A5159;
}

.HeroDescription h1 {
    font-size: 64px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0.5px;
    margin: 0;
    color: #2C3136;
}

.HeroDescription p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 16px 0;
    color: #73777A;
}